
@{
    ViewBag.Title = "DashBoard";
}

@model Tuple<List<PrisonerMS.Models.Transfer>, List<PrisonerMS.Models.Transfer>>

@section CustomHeader{
    <nav class="navbar navbar-expand-sm bg-light">

        <a class="navbar-brand" href="#">PMS</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#"> Jail Officer </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            @if (Session["FullName"] != null)
            {
                <p class="navbar-text"> Welcome, @Session["FullName"].ToString() </p>
            }
            <li class="nav-item ml-auto">
                <a class="nav-link" href="@Url.Action("Index", "Home")"> Logout </a>
            </li>
        </ul>
    </nav>
}


<div class="row">
    <div class="col-2">
        <div class="sidenav">
            <a href="@Url.Action("DashBoard", "JailO")">DashBoard</a>
            <a href="@Url.Action("Prisoners", "JailO")">Prisoners</a>
            <a href="@Url.Action("Complaints", "JailO")">Complaints</a>
            <a href="@Url.Action("Visitors", "JailO")">Visitors</a>
            <a href="@Url.Action("Transfers", "JailO")">Transfers</a>
            <a href="@Url.Action("PrisonInfo", "JailO")">Prison Info</a>
            <a href="@Url.Action("UserInfo", "JailO")">Profile</a>
        </div>
    </div>


    <div class="container body-content">
        <h3 class="divheading text-center">Pending Transfers</h3>
        <hr class="hunderline" />

        @if (Model != null)
        {
            if (Model.Item1 != null && Model.Item1.Count != 0)
            {
                <table id="example" class="table table-striped table-bordered table-hover" cellspacing="0">
                    <tr>
                        <th>Number</th>
                        <th>Type</th>
                        <th>Type Number</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Entry Date</th>
                        <th>Priosner No</th>
                        <th>Prisoner Name</th>
                        <th>Status</th>
                    </tr>
                    @foreach (var item in Model.Item1)
                    {
                        <tr>
                            <td><a href="#" onclick="DetailTransferfunction(@item.TransferID)">@item.TransferID</a></td>
                            <td>@item.Type</td>
                            <td>@item.TypeNumber</td>
                            <td>@item.Description</td>
                            <td>@item.Status</td>
                            <td>@item.EntryDate</td>
                            <td><a href=" ../../JailO/PrisonerDetails?id=@item.Prisoner.PrisonerID">@item.Prisoner.PrisonerNo</a></td>
                            <td>@item.Prisoner.FirstName @item.Prisoner.LastName</td>
                            <td><a href="#" class="btn btn-success" onclick="StatusTransferIncomingfunction(@item.TransferID)"><i class="fa fa-pencil-square-o"></i> </a> </td>
                        </tr>
                    }
                </table>
            }
            if (Model.Item1 != null && Model.Item1.Count == 0)
            {
                <h6 class="text-center">No Entry</h6>
            }
        }

        <div class="modal fade" id="changeTransferIncomingStatusModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title divheading col-12 text-center">Transfer Status</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body" id="changeTransferIncomingStatusModalBodyDiv1">
                    </div>
                </div>
            </div>
        </div>

        <h3 class="divheading text-center">Transfers Approved</h3>
        <hr class="hunderline" />

        @if (Model != null)
        {
            if (Model.Item2 != null && Model.Item2.Count != 0)
            {
                <table id="example2" class="table table-striped table-bordered table-hover" cellspacing="0">
                    <tr>
                        <th>Number</th>
                        <th>Type</th>
                        <th>Type Number</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Entry Date</th>
                        <th>Priosner No</th>
                        <th>Prisoner Name</th>
                        <th>Status</th>
                    </tr>
                    @foreach (var item in Model.Item2)
                    {
                        <tr>
                            <td><a href="#" onclick="DetailTransferfunction(@item.TransferID)">@item.TransferID</a></td>
                            <td>@item.Type</td>
                            <td>@item.TypeNumber</td>
                            <td>@item.Description</td>
                            <td>@item.Status</td>
                            <td>@item.EntryDate</td>
                            <td><a href=" ../../JailO/PrisonerDetails?id=@item.Prisoner.PrisonerID">@item.Prisoner.PrisonerNo</a></td>
                            <td>@item.Prisoner.FirstName @item.Prisoner.LastName</td>
                            <td><a href="#" class="btn btn-success" onclick="StatusTransferfunction(@item.TransferID, '@item.Type', '@item.Status')"><i class="fa fa-pencil-square-o"></i> </a> </td>
                        </tr>
                    }
                </table>
            }
            if (Model.Item2 != null && Model.Item2.Count == 0)
            {
                <h6 class="text-center">No Entry</h6>
            }
        }

        <div class="modal fade" id="detailTransferModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title divheading col-12 text-center">Transfer Detail</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body" id="detailTransferModalBodyDiv1">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="changeTransferStatusModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title divheading col-12 text-center">Transfer Status</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body" id="changeTransferStatusModalBodyDiv1">
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<script>

    var DetailTransferfunction = function (tid) {

        var url = "/JailO/DetailTransfer?id=" + tid;

        $("#detailTransferModalBodyDiv1").load(url, function () {
            $("#detailTransferModal").modal("show");

        })
    }

    var StatusTransferIncomingfunction = function (tid) {

        var url = "/JailO/StatusTransferIncoming?id=" + tid;

        $("#changeTransferIncomingStatusModalBodyDiv1").load(url, function () {
            $("#changeTransferIncomingStatusModal").modal("show");

        })
    }

    var StatusTransferfunction = function (tid, p, c) {

        para = 0
        if (p == 'Prison')
            para = 1

        co = 0
        if (c == 'CheckOut')
            co = 1

        var url = "/JailO/StatusTransfer?id=" + tid + "&p=" + para + "&c=" + co;

        $("#changeTransferStatusModalBodyDiv1").load(url, function () {
            $("#changeTransferStatusModal").modal("show");

        })
    }

</script>
